<a href="https://colab.research.google.com/github/Didigodigo/Arquivos-legais/blob/main/exerc_cios_python_print_input_listas_dicion_rios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tipos de dados**

# ***Classifique os tipos de dados das variáveis a seguir***

1. x = 5
2. x = 5.0
3. x = 5.5
4. x = 'DNC'
5. x = 1/2
6. x = 0.5 * 2
7. x = 2 ** 4
8. x = 2+4
9. x = 1000000000
10. Peça para o usuário inputar um dado inteiro e confira o tipo dele
11. Peça para o usuário inputar um dado float e confira o tipo dele
12. Peça para o usuário inputar um dado string e confira o tipo dele
13. Peça para o usuário inputar um dado sem definir o tipo e confira o tipo dele

In [ ]:
x = 5
type(x)

int

In [ ]:
x = 5.0
type(x)

float

In [ ]:
x = (1/2)
type(x)

float

In [ ]:
x = 5.5
type(x)

float

In [ ]:
x = 'DNC'
type(x)

str

In [ ]:
x = 0.5 * 2
type(x)

float

In [ ]:
x = 2 ** 4
type(x)

int

In [ ]:
x = 2+4
type(x)

int

In [ ]:
x = 1000000000
type(x)

int

In [ ]:
x = int(input('Por favor, digite um  dado inteiro: '))

type(x)

Por favor, digite um  dado inteiro: 5

int

In [ ]:
x = float(input('Por favor, digite um  dado float: '))

type(x)

Por favor, digite um  dado float: 1.2

float

In [ ]:
x = str(input('Por favor, digite um  dado string]: '))

type(x)

Por favor, digite um  dado string]: h

str

In [ ]:
x = input('Por favor, digite qualquer dado: ')

type(x)

Por favor, digite qualquer dado: 22

str

# **Print e Operações**

**Faça um print de duas linhas tracejadas acima e duas abaixo com 50 linhas em cada uma delas e no meio coloque "DS06 - DNC"**

In [ ]:
print("-"*50)
print("-"*50)
print(" "*20, "DS06 - DNC"," "*20)
print("-"*50)
print("-"*50)

--------------------------------------------------
--------------------------------------------------
                     DS06 - DNC
--------------------------------------------------
--------------------------------------------------

Você é um cientista de dados que tem um salário de R$10.000,00 por mês e quer calcular o quanto você terá para guardar na poupança após pagar as contas, faça um print semelhante ao da imagem a seguir:

* salario_cientista_de_daods = 10000.00
* parcela_bmw = 2500.45
* parcela_apartamento = 3500.50
* veterinario_romeuzinho = 500.00
* luz = 100.80
* agua = 80.35
* condominio = 800.44
* gas = 150.65
![Captura de tela 2022-09-28 110548.png]()

In [ ]:
salario_cientista_de_dados = 10000.00
parcela_bmw = 2500.45
veterinario_romeuzinho = 500
parcela_apartamento = 3500.50
luz = 100.80
agua = 80.35
condominio = 800.44
gas = 150.65
poupanca = salario_cientista_de_dados - parcela_bmw - parcela_apartamento - veterinario_romeuzinho - luz - agua - condominio - gas
print('*'*100)
print('Seu salário é de cientista de dados jr é deR$', salario_cientista_de_dados, 'e seus gastos estão dispostos a seguir','\nParcela da BWM = ', parcela_bmw, '\nParcela do apartamento = ', parcela_apartamento, '\nVeterinario do Romeuzinho = ', veterinario_romeuzinho,'\nConta de luz = ', luz, '\nConta de água', agua, '\nConta de condomínio = ', condominio, '\nConta de gás = ', gas)
print("*"*100)
print('O valor disponível para colocar na poupança é de: R$', poupanca)

****************************************************************************************************
Seu salário é de cientista de dados jr é deR$ 10000.0 e seus gastos estão dispostos a seguir
Parcela da BWM =  2500.45
Parcela do apartamento =  3500.5
Veterinario do Romeuzinho =  500
Conta de luz =  100.8
Conta de água 80.35
Conta de condomínio =  800.44
Conta de gás =  150.65
****************************************************************************************************
O valor disponível para colocar na poupança é de: R$ 2366.81

# **Condicionais e operações**

Você é um vendedor de cursos e os clientes entram em contato com você para adquirir um dos nossos seguintes cursos:
1. Formação em dados
2. Formação em projetos
3. Formação em marketing
4. Formação em produto
5. Formação em tecnologia

O cliente pode adquirir apenas um curso e os valores estão  apresentados a seguir:
1. Formação_em_dados = 20000.00
2. Formação_em_projetos = 15000.00
3. Formação_em_marketing = 13000.00
4. Formação_em_produto = 18000.00
5. Formação_em_tecnologia = 19000.00

Monte um código onde a primeira pergunta será "Qual curso você quer escolher (1 = Formação_em_dados, 2 = Formação_em_projetos, 3 = Formação_em_marketing, 4= Formação_em_produto, 5 = Formação_em_tecnologia)?" E de acordo com a escolha, ele entre em um if e emita a seguinte mensagem padrão "Você escolheu o curso Formação em XXXXX no valor de R$ valor que começará no próximo mês". Caso o usuário digite um valor diferente dos dispostos, emita a seguinte mensagem "Digite um valor correspondente a um curso de nossas formações \n1-Formação em dados \n2-Formação em projetos\n3-Formação em marketing\n4-Formação em produto\n5-Formação em tecnologia"

In [ ]:
Formação_em_dados = 20000.00
Formação_em_projetos = 15000.00
Formação_em_marketing = 13000.00
Formação_em_produto = 18000.00
Formação_em_tecnologia = 19000.00

curso_escolhido = int(input('Qual curso você quer escolher (1, 2, 3, 4, 5)? \n\n1-Formação_em_dados = 20000.00\n2-Formação_em_projetos = 15000.00\n3-Formação_em_marketing = 13000.00\n4-Formação_em_produto = 18000.00\n5-Formação_em_tecnologia = 19000.00\n\n'))

if curso_escolhido == 1:
  print('Você escolheu o curso Formação em dados no valor de R$ {} que começará no próximo mês'.format(Formação_em_dados))

elif curso_escolhido == 2:
  print('Você escolheu o curso Formação em projetos no valor de R$ {} que começará no próximo mês'.format(Formação_em_projetos))

elif curso_escolhido == 3:
  print('Você escolheu o curso Formação em marketing no valor de R$ {} que começará no próximo mês'.format(Formação_em_marketing))

elif curso_escolhido == 4:
  print('Você escolheu o curso Formação em produtos no valor de R$ {} que começará no próximo mês'.format(Formação_em_produto))

elif curso_escolhido == 5:
  print('Você escolheu o curso Formação em tecnologia no valor de R$ {} que começará no próximo mês'.format(Formação_em_tecnologia))

else:
  print('Digite um valor correspondente a um curso de nossas formações \n1-Formação em dados \n2-Formação em projetos\n3-Formação em marketing\n4-Formação em produto\n5-Formação em tecnologia')

Qual curso você quer escolher (1, 2, 3, 4, 5)?

1-Formação_em_dados = 20000.00
2-Formação_em_projetos = 15000.00
3-Formação_em_marketing = 13000.00
4-Formação_em_produto = 18000.00
5-Formação_em_tecnologia = 19000.00

1
Você escolheu o curso Formação em dados no valor de R$ 20000.0 que começará no próximo mês

A DNC pretende faturar 2 milhões em 1 mês. Faça a leitura da quantidade de vendas de cada formação e calcule a receita total de vendas, a receita media geral e verifique se eles bateram a meta mensal utilizando as seguintes mensagens
Se bateram: "Parabéns!!! A DNC bateu a meta do mês"
Se não bateram: "Esse mês não batemos a meta, porém mês que vem vamos vir mais forte pra recuperar!!!"


(Utilize as informações de preço do exercício acima)

In [ ]:
total_Formação_em_dados = int(input('Quantas vendas tivemos na formação em dados?  '))
total_Formação_em_projetos = int(input('Quantas vendas tivemos na formação em projetos?  '))
total_Formação_em_marketing = int(input('Quantas vendas tivemos na formação em marketing?  '))
total_Formação_em_produto = int(input('Quantas vendas tivemos na formação em produto?  '))
total_Formação_em_tecnologia = int(input('Quantas vendas tivemos na formação em tecnologia?  '))

Quantas vendas tivemos na formação em dados?  2
Quantas vendas tivemos na formação em projetos?  3
Quantas vendas tivemos na formação em marketing?  4
Quantas vendas tivemos na formação em produto?  5
Quantas vendas tivemos na formação em tecnologia?  6

In [ ]:
receita_total = total_Formação_em_dados * Formação_em_dados + total_Formação_em_projetos * Formação_em_projetos + total_Formação_em_marketing * Formação_em_marketing  + total_Formação_em_produto * Formação_em_produto + total_Formação_em_tecnologia * Formação_em_tecnologia
receita_total

341000.0

In [ ]:
receita_media = receita_total / 5
receita_media

68200.0

In [ ]:
if receita_total > 1000000:
  print('='*50)
  print('A receita total foi de R$', receita_total)
  print('='*50)
  print('A receita média foi de R$', receita_media)
  print('='*50)
  print('Parabéns!!! A DNC bateu a meta do mês')
  print('='*50)

else:
  print('='*100)
  print('A receita total foi de R$', receita_total)
  print('='*100)
  print('A receita média foi de R$', receita_media)
  print('='*100)
  print('Esse mês não batemos a meta, porém mês que vem vamos vir mais forte para recuperar!!!')
  print('='*100)

====================================================================================================
A receita total foi de R$ 341000.0
====================================================================================================
A receita média foi de R$ 68200.0
====================================================================================================
Esse mês não batemos a meta, porém mês que vem vamos vir mais forte para recuperar!!!
====================================================================================================

# **Estruturas de repetições**

O aluno da DNC precisa fazer um programa onde ele some uma sequencia de números, ele precisa informar em qual número (contador) a soma terá que parar. Monte uma estrutura de repetição onde ele satisfaça esse problema.

In [ ]:
soma = 0
i = 0
x = float(input('Digite o termo onde a soma deve parar:  '))

while i <= x:
  soma = soma + i
  i +=1
print("="*50)
print('Seu código foi finalizado e o valor da soma é: ', soma)
print("="*50)

Digite o termo onde a soma deve parar:  5
==================================================
Seu código foi finalizado e o valor da soma é:  15
==================================================

O aluno da DNC está no spotify e percebeu que poderia criar um código para demonstrar como o spotify troca de música. Faça uma estrutura de repetição que quando digita-se 'p' o código emitirá uma mensagem "Próxima música" e qualquer outra letra ou número o código emitirá uma mensagem "Fechando o app" "Até a próxima"

In [ ]:
x = 'p'

while x == 'p':
  x = input('p para passar e qualquer outra letra/numero para fechar: ')
  if x == 'p':
    print('próxima música')
  else:
    print('fechando o app')
    print('Até a próxima!!')

p para passar e qualquer outra letra/numero para fechar: p
próxima música
p para passar e qualquer outra letra/numero para fechar: p
próxima música
p para passar e qualquer outra letra/numero para fechar: a
fechando o app
Até a próxima!!

O aluno da DNC quer criar um código para dar parabéns para 3 pessoas do seu grupo de projeto, como reconhecimento de seu trabalho duro. Faça uma estrutura de repetição onde seja informado 3 nomes e printado a seguinte mensagem "Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo, NOME DA PESSOA"

In [ ]:
for i in range(0,3):
  n = input('Digite o nome da pessoa que quer reconhecer: ')
  print('Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo, ', n)

Digite o nome da pessoa que quer reconhecer: Alan
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo,  Alan
Digite o nome da pessoa que quer reconhecer: Jorge
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo,  Jorge
Digite o nome da pessoa que quer reconhecer: Jian
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo,  Jian

# **Tuplas e Listas**

Um aluno da DNC tem uma certa quantidade de notas em seu cofrinho e hoje ele decidiu quebrá-lo, com isso ele quer criar um programa que armazene todas as moedas e ao final do processo ele quer saber o valor total e printar as moedas que ele possui na tela. Monte uma estrutura onde seja guardado os valores das notas e imprima a soma delas ao final. Utilize a estrutura de repetição while.

In [ ]:
lista = []
x = 1

while x != 0:
  x = int(input('Informe o valor da notas: '))
  if x == 0:
    break
  lista.append(x)

soma = sum(lista)
print("A lista com os valores das notas está a seguir: ", lista)
print('A soma das notas deu R$', soma)

Informe o valor da notas: 10
Informe o valor da notas: 51
Informe o valor da notas: 10
Informe o valor da notas: 0
A lista com os valores das notas está a seguir:  [10, 51, 10]
A soma das notas deu R$ 71

# **Dicionários**

O aluno da DNC resolveu criar um dicionário com as informações dos 5 membros de seu grupo, ele precisa inserir o Nome, RID, Idade, Cidade e Cargo no time de projeto. Crie um dicionário que satisfaça isso e print cada chave e valor de cada integrante.

In [ ]:
grupo_projeto = [{'Nome': 'Alan', 'RID': 12345, 'Idade': 25,'Cidade': 'São José', 'Funcao': 'PO'},
{'Nome': 'Erick', 'RID': 54321, 'Idade': 24,'Cidade': 'São José', 'Funcao': 'Scrum Master'},
{'Nome': 'Simone', 'RID': 54123, 'Idade': 23,'Cidade': 'São José', 'Funcao': 'Dona de tudo'}]

for p in grupo_projeto:
    for k, v in p.items():
        print(f'Key: {k}, Value: {v}')
        print("-"*40)

Key: Nome, Value: Alan
----------------------------------------
Key: RID, Value: 12345
----------------------------------------
Key: Idade, Value: 25
----------------------------------------
Key: Cidade, Value: São José
----------------------------------------
Key: Funcao, Value: PO
----------------------------------------
Key: Nome, Value: Erick
----------------------------------------
Key: RID, Value: 54321
----------------------------------------
Key: Idade, Value: 24
----------------------------------------
Key: Cidade, Value: São José
----------------------------------------
Key: Funcao, Value: Scrum Master
----------------------------------------
Key: Nome, Value: Simone
----------------------------------------
Key: RID, Value: 54123
----------------------------------------
Key: Idade, Value: 23
----------------------------------------
Key: Cidade, Value: São José
----------------------------------------
Key: Funcao, Value: Dona de tudo
----------------------------------------

In [ ]:

dicio = {}
lista = []
for u in range(0,5):
  dicio['Nome'] = input('Digite o nome da pessoa: ')
  dicio['RID'] = int(input('Digite o RID dessa pessoas: '))
  dicio['Idade'] = int(input('Digite a idade dessa pessoa: '))
  dicio['Cidade'] = input('Digite a cidade dessa pessoa: ')
  dicio['Cargo Projeto'] = input('Digite 3o cargo no time de projetos: ')
  lista.append(dicio.copy())
print(lista)
print(dicio) 

for p in lista:
    for k, v in p.items():
        print(f'Key: {k}, Value: {v}')
        print("-"*40)

Digite o nome da pessoa: Alan
Digite o RID dessa pessoas: 1232
Digite a idade dessa pessoa: 12
Digite a cidade dessa pessoa: sjc
Digite 3o cargo no time de projetos: scrum amster
[{'Nome': 'Alan', 'RID': 1232, 'Idade': 12, 'Cidade': 'sjc', 'Cargo Projeto': 'scrum amster'}]
{'Nome': 'Alan', 'RID': 1232, 'Idade': 12, 'Cidade': 'sjc', 'Cargo Projeto': 'scrum amster'}
Key: Nome, Value: Alan
----------------------------------------
Key: RID, Value: 1232
----------------------------------------
Key: Idade, Value: 12
----------------------------------------
Key: Cidade, Value: sjc
----------------------------------------
Key: Cargo Projeto, Value: scrum amster
----------------------------------------

# **Funções**

Crie uma função onde sempre que ela é chamada ela some todas as notas (dinheiro) que você inserir na função.

In [ ]:
def soma_notas(l):
  total = 0
  for val in l:
    total = total + val
  return total

In [ ]:
lista = []
x = 1

while x != 0:
  x = int(input('Informe o valor da notas: '))
  if x == 0:
    break
  lista.append(x)

print("A soma total é :", soma_notas(lista))

Informe o valor da notas: 25
Informe o valor da notas: 50
Informe o valor da notas: 100
Informe o valor da notas: 0
A soma total é : 175